body {
    font-family: Roboto;
    color: #163152;
}
.site-navigation-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #163152;
    text-decoration: none;
}
.hero h1 {
    font-size: 44px;
    line-height: 60px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: normal;
}
.blog-article h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;

}
.blog-article p{
    font-size: 16px;
    line-height: 24px;
}
.blog-article time {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.contacts h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.contact-list-items a {
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #163152;
}
.contact-list-items address {
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
}
.footer-list-item h2 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.footer-list-item a {
    font-size: 14px;
    line-height: 16px;
    color: #163152;
    text-decoration: none;
}

.copyright {
    font-size: 10px;
    line-height: 12px;
}
.policy a {
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
    color: #163152;
}
.news {
    font-size: 18px;
    line-height: 26px;
}
.news h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}
.news figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}
.news h3 {
    font-size: 22px;
    line-height: 26px;
}

.news h4 {
    font-size: 20px;
    line-height: 26px;
}
.news blockquote {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
}
.news time {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}
.post-footer .author {
    color: #163152;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}





body {
    margin: 0;
}
.header-container {
    width: 1170px;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.main-nav {
    width: 1170px;
    display: flex;
    
}
.logo {
    width: 64px;
    margin: 0;
    margin-right: auto;
}
.account {
    width: 36px;
}
.site-navigation-list {
    width: 560px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 40px;
}
.main-content {
    width: 1170px;
    padding-right: 55px;
    padding-left: 55px;
    margin: 0 auto;
}
.hero {
    width: 1170px;
    margin-bottom: 120px;
}
.hero h1 {
    /* margin: 0; */
    margin-bottom: 40px;
}

.blog-article {
    width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.blog-article-1 {
    margin-bottom: 100px;
}
.blog-article-2 {
    margin-bottom: 120px;
    flex-direction: row-reverse;
}
.content-column {
    width: 400px;
}
.img-column {
    width: 600px;
}
.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.news figure {
    padding: 0;
    margin: 0;
}
.news h2 {
    text-align: center;
    margin-bottom: 55px;
}
.contacts {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    
}
.map-column {
    width: 670px;
    margin-right: 100px;
    
}
.contacts-column {
    width: 400px;
}
.contacts h2 {
    margin: 0;
}
.main-footer {
    margin-top: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.footer-container {
    width: 1170px;
    margin: 0 auto;
    padding-right: 55px;
    padding-left: 55px;
    display: flex;
    justify-content: space-between;

}
.footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 870px;
    justify-content: space-between;
}
.footer-list-item {
    width: 165px;
}
.main-footer h2 {
    margin: 0;
    margin-bottom: 20px;
}
.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.gallery {
    width: 1170px;
    margin: auto;
    margin-bottom: 120px;
}
.gallery h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    text-align: center;
    margin-bottom: 55px;
}
.img-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.gallery-wrapper {
    display: flex;
    justify-content: space-between;
}
.active-img {
    width: 970px;
}
.preview-item {
    width: 170px;
    margin-bottom: 30px;
}
.preview-item:last-child {
    margin-bottom: 0;
}

