body {
    font-family: Roboto;
    color: #163152;
}
.site-navigation-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #163152;
    text-decoration: none;
}
.hero h1 {
    font-size: 44px;
    line-height: 60px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 70px;
}
.blog-article h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;

}
.blog-article p{
    font-size: 16px;
    line-height: 24px;
}
.blog-article time {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.contacts h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    padding-top: 50px;
}
.contact-list-items h3 {
    font-size: 16px;
    line-height: 22px;
}
.contact-list-items a {
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #163152;
}
.contact-list-items address {
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
}


.footer-list-item h2 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.footer-list-item a {
    font-size: 14px;
    line-height: 16px;
    color: #163152;
    text-decoration: none;
}

.copyright {
    font-size: 10px;
    line-height: 12px;
}
.policy a {
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
    color: #163152;
}
.news {
    font-size: 18px;
    line-height: 26px;
}
.news h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}
.news figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}
.news h3 {
    font-size: 22px;
    line-height: 26px;
}

.news h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.news blockquote {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    border-left: 2px solid rgba(0, 198, 189, 1);
}
.news time {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}
.post-footer .author {
    color: #163152;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}





body {
    margin: 0;
}
.header-container {
    width: 1170px;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.main-nav {
    width: 1170px;
    display: flex;
    align-items: center;
    
}
.logo {
    width: 64px;
    margin: 0;
    margin-right: auto;
}
.account {
    width: 36px;
    height: 36px;
}
.site-navigation-list {
    width: 560px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 40px;
    display: flex;
    gap: 30px;flex-wrap: wrap;
    align-items: center;
}
.main-content {
    width: 1170px;
    padding-right: 55px;
    padding-left: 55px;
    margin: 0 auto;
}
.hero {
    width: 1170px;
    margin-bottom: 120px;
}
.hero h1 {
    /* margin: 0; */
    margin-bottom: 40px;
}
.hero img {
    display: block;
}
.blog-article {
    width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.blog-article-1 {
    margin-bottom: 100px;
}
.blog-article h2 {
    margin: 0;
    margin-bottom: 35px;
}
.blog-article p {
    margin: 0;
    margin-bottom: 10px;
}
.blog-article-2 {
    margin-bottom: 120px;
    flex-direction: row-reverse;
}
.blog-article-2 .content-column {
    text-align: right;
}
.content-column {
    width: 400px;
}
.img-column {
    width: 600px;
}
.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}
/* Сброс отступов тега figure по умолчанию: */
.news figure {
    padding: 0;
    margin: 0;
}

.news h2 {
    text-align: center;
    margin-bottom: 55px;
}
.post-img img {
    display: block;
    margin-bottom: 17px;
}
.post-img figcaption {
    margin-bottom: 33px;
}
.news h3 {
    margin-top: 33px;
    margin-bottom: 27px;
}
.news h4 {
    margin-top: 24px;
    margin-bottom: 15px;
}
.news p {
    margin-top: 12px;
    margin-bottom: 12px;
}
.participant-list {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.participant-list-item {
    margin-bottom: 8px;
}
.news blockquote {
    margin: 0;
    padding: 0;
    margin-top: 38px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.post-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-author-img img {
    width: 60px;
}

.post-author-img {
    display: flex;
}
.post-author-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
    width: 142px;
}
.arrow img {
    width: 26px;
}
.contact-list h3 {
    margin: 0;
    margin-right: 10px;
}



.contacts {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    
}
.map-column {
    width: 670px;
    margin-right: 100px;
    
}
.contacts-column {
    width: 400px;
}
.contacts h2 {
    margin: 0;
}
.contact-list {
    padding: 0;
    margin: 0;
    margin-top: 35px;
    list-style: none;
}
.social-list {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    list-style: none;
    display: flex;
    gap: 15px;
}
.social-list-item {
    width: 40px;
    height: 40px;
}
.contact-list-items:last-child {
    display: block;
}
.contact-list-items {
    display: flex;
    margin-bottom: 15px;
}






.main-footer {
    margin-top: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid rgba(22, 49, 82, 0.1);
    
}
.footer-container {
    width: 1170px;
    margin: 0 auto;
    padding-right: 55px;
    padding-left: 55px;
    display: flex;
    justify-content: space-between;

}
.logo-column a {
    display: block;
}
.logo-column img {
    margin-bottom: 30px;
}
.policy {
    margin: 0;
    margin-bottom: 10px;
}
.copyright {
    margin: 0;
    
}
.footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 870px;
    justify-content: space-between;
}
.footer-list-item {
   
    width: 165px;
}
.footer-list-item h2 {
    margin: 0;
    margin-bottom: 20px;
}
.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu-item {
    margin-bottom: 10px;
}
.footer-menu-item:last-child {
    margin-bottom: 0;
}
.gallery {
    width: 1170px;
    margin: auto;
    margin-bottom: 120px;
}
.gallery h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    text-align: center;
    margin-bottom: 55px;
}
.img-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.gallery-wrapper {
    display: flex;
    justify-content: space-between;
}
.active-img {
    width: 970px;
}
.preview-item {
    width: 170px;
    margin-bottom: 30px;
}
.preview-item:last-child {
    margin-bottom: 0;
}
.preview-item img {
    display: block;
}
.preview-item a {
    position: relative;
}
.preview-item a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(253, 253, 255, 0.5);
}
.preview-item a.active-item::before {
    background-color: rgba(255, 255, 255, 0);

}



.rent h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    margin-bottom: 55px;  
}
.card h3 {
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    margin-bottom: 18px;
}
.card-description {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 15px;
}
.card-features {
    margin: 0;
    padding: 0;
    list-style: inside;
    margin-bottom: 29px;
}
.card-features li {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 4px;
}
.card-price {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.cards {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.card {
    width: 310px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
}

.card img {
    display: block;
    margin-bottom: 21px;
}

